body{
  overflow-x:hidden;
}
header {
  padding-left: 5px;
}

.banniere {
  padding-top: 3%;
}
.hidden{
  z-index: -3
}
.logo-navbar{
  height: 5vh;
  margin-left: 25px;
}
.nav-item{
  padding-left: 10px;
}
.titre{
  z-index: 10;
  color: White;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-indicators, .carousel-control-prev, .carousel-control-next {
  z-index: 11;
}

.content{
  margin-top:10vh;
}
.content img{
  height: 250px;
  width: auto;
}

.text-justify{
  text-align: justify;
}

/*Atos*/
.linear-gradient{
  background: linear-gradient(#FFFFFF, #EEEEEE, #FFFFFF);
}

.bgall1{
  background-color: #0681B1;
  background: none;
}
.bgall2{
  background-color: #498FAB;
  background: none;
}

.marque_logo{
  max-width : 100%;
  height: auto;

}
.atos_image{
  width: 100%;
  height: 100%;
}
/*Atos*/

/* Comparatif */

.critere{
  height: 20vh;
}

.critere2{
  background: #0099ff;
}

/* Comparatif */
